*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 20px;
    font-family: monospace;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: rgb(27, 25, 25);
    width: 70%;
    margin-left: 15%;
    display: flex;
    overflow-y: hidden;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form>div>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

input:focus{
    border: 3px solid blue;
}

label{
    font-style: italic;
}
.form-container p:first-child+p{
    text-transform: capitalize;
    font-weight: bold;
}

.form-container{
    background-color: rgb(221, 224, 226);
    height: 100vh;
    width: 40vw;
    z-index: 1;
}

.form-container > p, .form-container > form{
    width: 80%;
    margin: 20px 10%;
}

.form-container p:first-child{
    margin-top: 25%;
}

.form-container > button{
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
}

.form-container > button:hover{
    background-color: bisque;
}

.img-container{
    position: relative;
    width: 30vw;
}

.logo-container{
    position: absolute;
    margin-top: 25vh;
    height: 15vh;
    width: 100%;
    background-color: rgba(54, 49, 49, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container>img{
    height: 10vh;
}

.img-container>img{
    height: 100vh;
}

#log-in{
    color: red;
    width: initial;
    margin: 0;
    background-color: rgb(221, 224, 226);;
}

#account-already{
    position: relative;
    margin-top: 30px;
}

#odin{
    color: white;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}